
/*.contentWrapper{*/
/*  flex: 0 1 auto;*/
/*  min-height: 50px;*/
/*  max-width: 100%;*/
/*  overflow-x: hidden;*/
/*}*/

/*.introText {*/
/*  width: 40%;*/
/*  text-align: center;*/
/*  border: 1px solid #787878;*/
/*  background: #c7c7cc;*/
/*  color: #2e2e2e;*/
/*  margin: auto;*/
/*  padding: 20px;*/
/*  margin-top: 20px;*/
/*  margin-bottom: 40px;*/
/*  flex: 2;*/
/*}*/

/*.menu {*/
/*  flex: 1;*/
/*  width: 100%;*/
/*  margin: auto;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.navMenu {*/
/*  flex-direction: row;*/
/*  display:flex;*/
/*}*/


.navButton {
  display: inline-block;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid #2e2e2e;
  background: #dedede;
  padding: 10px 20px;
  color: #2e2e2e;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
.navButton:hover {
  text-decoration: none;
  color: #3d8cde;
}
.navButton span:first-child {
  margin-right: 10px;
}
