.jumbo-title{
    font-size:60px;
}

.jumbotron{
    padding: 0;

    background-color: transparent;
    box-shadow:0 0 0 0 white;

    color:var(--primary-contrast);
    /* TODO: min-height won't properly calculate the subtraction using a variable*/
    --min-height-subtraction-var: var(--navbar-height);
    --temp:  6em;
    /*min-height: Calc(100vh - var(--min-height-subtraction-var) );*/
}

.cards-background{
    background: linear-gradient(to right bottom, #ffffff 50%, var(--primary-color-trans) 50%);

    /*background-color: var(--light-pink-trans);*/
}

.cards-background2{
    background: linear-gradient(to right top, #ffffff 50%, var(--primary-color-trans) 50%);

    /*background-color: var(--light-pink-trans);*/
}

.portalBackground{
    background-color: transparent;
    /* now we load the video in html*/
    /*background-image: url('../assets/img/3cpX.gif') , url('../assets/img/ice.png');*/
    /*background-image: url('../assets/img/white_portal.mp4') , url('../assets/img/ice.png');*/
    /*min-height: 100vh;*/
    /*background-size: 140vh 100vh, cover;*/
    /*background-repeat: repeat-x,no-repeat;*/
    /*background-attachment: scroll,fixed;*/
    /*background-position: top,center;*/
}



.badge-info{
    background-color: var(--secondary-color) !important;
}

.badge-info{
  font-size: 1em;
}

.jumbo-title{
    font-size: 4.2em;
}

.jumbo-container{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-40%);

}

.products{
  margin-top: 70px;
}

.typedLanding{
  text-size: 3em!important;
}

.overflow {
  overflow: visible;
}
#__next > div > div.jumbotron.jumbotron-fluid > div > div > div:nth-child(3) > div > h4 {
  font-size: 2em;
}

#__next > div > div.jumbotron.jumbotron-fluid > div > div > div:nth-child(3) > div > h4 > div > div > h1 > span:nth-child(1) {
  font-size: 1.1em;
}
