.Organizer-Signature {
  display: none!important;
}

.Total-Price {
  display: none!important;
}


.openlaw-el-section__title{
  font-size: 2em;
}
.openlaw-el-field {
  margin-top: 5px;
  margin-bottom:5px;

}

.Member-Name{
  width: 300px!important;
}

.Entity-Name{
  width: 300px!important;
}

.Member-Signature{
    width: 300px!important;
}

.Member-Contact{
  width: 500px!important;
}
