


#__next > div > div > div:nth-child(5) > div.row.py-5.mt-5 > div > div > div > div.card-body.text-center > div > div > div:nth-child(1) > span {
position:relative;
top:-10px;
}

#__next > div > div > div:nth-child(5) > div.row.py-5.mt-5 > div > div > div > div.card-body.text-center > div > div > div:nth-child(4) > div:nth-child(6) {
  display: none!important;
}

.creation-header{
  font-size: 7vmin!important;
}

.creation-subheader{
  font-size: 2.5em!important;
    font-weight: bold;
}

.Organizer-Signature {
  display: none!important;
}

.Total-Price {
  display: none!important;
}


.openlaw-el-section__title{
  font-size: 3em;
  color: #2e294e!important;
  font-size: 5vmin!important;
}


.openlaw-el-field__select:focus{
  background-color: #ffffff!important;
}

.openlaw-el-field__select .option{
  background-color: #86a8e7!important;
}




.openlaw-el-field {
  margin-top: 5px;
  margin-bottom:5px;
  border-radius: 5px!important;
}

.openlaw-el-field__label-text{
    font-size: 4vmin;
  position: relative;
  top: 6px;
}


.openlaw-el-field__input {

    border-radius: 5px!important;
    box-shadow: 0 -0.109rem 0 0 #788ac7 inset !important;
}

.openlaw-el-field__input:hover{
        box-shadow: 0 -0.209rem 0 0 #788ac7 inset !important;
}

.openlaw-el-field__input:focus{
  box-shadow: 0 -0.17rem 0 0 #788ac7 inset !important;
}




.openlaw-el-field__input:active {
    border-radius: 5px!important;
    background-color: #ece8f4;
    box-shadow: 0 -0.17rem 0 0 #d2489a inset !important;
}

.openlaw-el-field__select{
  border-radius: 5px!important;
  background-color: #ece8f4;
  box-shadow: 0 -0.109rem 0 0 #788ac7 inset !important;
}
.openlaw-el-field__select:hover{
  box-shadow: 0 -0.209rem 0 0 #788ac7 inset !important;
}

.openlaw-el-field__select:active{
border-radius: 5px!important;
background-color: #86a8e7;
box-shadow: 0 0.17rem 0 0 #788ac7 inset !important;
}

.DAO-Support-Threshold{
  width: 400px!important;
}


.DAO-Quorum-Threshold{
  width: 400px!important;
}


.DAO-Voting-Period-in-Days{
  width: 400px  !important;
}

.Aragon-Voting-Shares_0 + .openlaw-el-collection__button-remove{
  display: none!important;
}

.Aragon-Voting-Shares_0 {
  width: 500px!important;
}

div + .openlaw-el-button {
  position:relative;
  top:-10px;
}

.openlaw-el-collection__button-remove{
  position: relative;
  left: -200px;
}

.Member-Name{
  width: 100%!important;
  max-width: 300px!important;
}

.Member-EthAddress{
  width: 100%!important;
  max-width: 400px!important;

}



.Entity-Address{
  width: 369px!important;
}

.Token-Address{
  width: 100%!important;
  max-width: 410px!important;
}

.Token-Initial-Amount{
  width: 100%!important;
  max-width: 310!important;
}

.Token-Symbol{
  width: 100%!important;
  max-width: 310px!important;
}

.Token-Name{
  width: 100%!important;
  max-width: 300px!important;
}

.DAO-Address{
  width: 100%!important;
  max-width: 400px!important;
}

.Entity-Name{
  width: 100%!important;
  max-width: 300px!important;
  font-size: 3em;
}

.Member-Signature{
  width: 100%!important;
  max-width: 300px!important;
}

.Member-Contact{
  width: 100%!important;
  max-width: 400px!important;
}



.openlaw-el-field__input.Daily-Withdrawal-Limit{
  width: 100%!important;
  max-width: 350px!important;
}


.Owners_0 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_1 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_2 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_3 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_4 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_5 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_6 {
  width: 100%!important;
  max-width: 500px!important;
}

.Owners_7 {
  width: 100%!important;
  max-width: 500px!important;
}

.Required-Signature-Number{
  width: 350px!important;
}


@media only screen and (min-width: 600px) {

  .openlaw-el-field__label-text{
      font-size: 2vmin;
    }

  .Required-Signature-Number{
    min-width: 350px;
  }

.DAO-Address{
  min-width: 400px;
}

  .Token-Initial-Amount{
    min-width: 310px;
  }

  .Token-Symbol{
    min-width: 310px;
  }

  .Token-Name{
      min-width: 310px;
  }

.Member-Contact{
  min-width: 420px;
}

.Entity-Name{
  min-width: 320px;
}

  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Member-EthAddress{
    min-width: 400px;
  }
  .Token-Address{
    min-width:400px;
  }
  .Owners_1{
    min-width:400px;
  }
  .Owners_2{
    min-width:400px;
  }
  .Owners_3{
    min-width:400px;
  }
  .Owners_4{
    min-width:400px;
  }
  .Owners_5{
    min-width:400px;
  }
  .Owners_6{
    min-width:400px;
  }
  .Owners_7{
    min-width:400px;
  }
}
