
.jumbo-title{
    font-family: var(--ornate-font);
    font-size:50px;
}

.jumbotron{
    padding: 0;
    background-color: var(--purple-partial-transparent);
    color:var(--text-color);
    /* TODO: min-height won't properly calculate the subtraction using a variable*/
    --min-height-subtraction-var: var(--navbar-height);
    --temp:  6em;
    min-height: Calc(100vh - var(--min-height-subtraction-var) );
    /*min-height: Calc( 100vh - 6em);*/

}

.portalBackground{
    background-image: url('../assets/img/3cpX.gif') , url('../assets/img/ice.png');
    min-height: 100vh;
    background-size: 140vh 100vh, cover;
    background-repeat: repeat-x,no-repeat;
    background-attachment: scroll,fixed;
    background-position: top,center;

}

.badge-info{
    background-color: var(--primary-blue-color) !important;
}
/*.jumbo-background{*/
    /*background: url('../assets/img/3cpX.gif');*/
    /*background-size:cover;*/
    /*filter: blur(3px);*/
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*border-color: transparent;*/

/*}*/


.jumbo-container{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-40%);

}



