


@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

body > #root > div {
  height: 100%;
  min-height: 100vh;
}


/* ***** Base variables ***** */

:root{
  /* TODO: figure out our color palette*/
  /* Basic color palette */
  --primary-blue-color: RGBA(36, 80, 117, .8); /* blueish */
  --primary-blue-color-trans: RGBA(36, 80, 117, .3);  /* blueish transparent */
  --primary-contrast: white;
  --purple-partial-transparent:RGBA(122, 113, 169, .4); /* purpleish transparent */
  --table-blue-background:RGBA(127, 197, 255, .8);

  /* text styles */
  --text-background: #7A71A9;
  --text-color: white;
  --ornate-font: 'Exo 2';

  /* button styles */
  --button-font-size:1.2rem;
  --pink-button:#e91e63;
  --button-font-weight:700;
  --button-border-radius:50px;
}


/* ***** Buttons ***** */

.btn-pink{
  background-color:var(--pink-button) !important;
  color:var(--primary-contrast);
}

.btn-primary{
  color:var(--primary-contrast);
  background-color:var(--primary-blue-color) !important;
}
.btn{
  border-radius: var(--button-border-radius);
  border: none;
  font-family: var(--ornate-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}


/* ***** Cards ***** */

.card{
  background-color: var(--text-background);
  color:var(--text-color);
}
.card .card-body .card-text{
  background-color: var(--text-background);
  color:var(--text-color);
}

/* ***** Tables ***** */

table.ui {
  background-color: var(--table-blue-background)!important;
  border-radius: 30px!important;
}

/* table header */
th{
  background-color: rgba(191 , 226, 255, .7)!important;
  text-align: center!important;
  font-family:  var(--ornate-font); /*'syncopate'; syncopate looks a little too sci-fi IMO */
}

/* table header text */
table th {
  font-size: 1.2rem;
  font-weight: 700;
}

thead  {
  background: rgba(41, 137, 216, .2)!important;
  border: 1px solid transparent!important;
}

/* table data text*/
table td{
  font-size: 1.0rem;
}



.bodyWrapper {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  min-height: 100%;
}



.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
