/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
/*@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Play&display=swap');*/
/*@import url('https://fontlibrary.org/face/nemoy');*/


@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

body > #__next > div {
  height: 100%;
  min-height: 100vh;
}



/* ***** Base variables ***** */

:root{
  /* TODO: figure out our color palette*/
  /* Basic color palette */
  --primary-color: var(--light-pink); /*RGBA(36, 80, 117, 1.0); /* blueish */
  --primary-contrast: dark gray;
  --primary-color-trans: var(--light-pink-trans);  /* blueish transparent */

  --secondary-color:var(--light-purple);
  --secondary-contrast:white;

  /* text styles */
  --text-background: rgba(255,255,255,.7);/* white;/*var(--light-pink-trans); /* var(--table-blue-background); /* rgba(0,0,0,.7);*/
  --light-text-color: white;
  --dark-text-color: dark gray;
  --ornate-font: 'Exo 2';
  --normal-font-size:1.1rem;

  --light-pink:rgba(229, 102, 183, 1);
  --light-pink-trans: rgba(229, 102, 183, 0.3);
  --light-purple:rgba(97, 108, 161, 1);


  /* button styles */
  --button-font-size:1.2rem;
  --pink-button:#e91e63;
  --button-font-weight:700;
  --button-border-radius:50px;

  --navbar-height:6em;
}

/* ***** etherize -t ***** */

.bold {
  font-weight: bold;
}

/* ***** Basics ***** */

body{
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

footer.page-footer {
  color: var(--primary-contrast);
  background-color: var(--secondary-color);
}
footer.page-footer a {
  color: var(--primary-contrast);
}

/* ***** Background ***** */

.mainBackground{
  /*background: linear-gradient(to right bottom, #ffffff 50%, var(--primary-color-trans) 50%);*/
  background-image: linear-gradient(to right bottom, var(--light-pink), #d476cb, #c084da, #ac91e4, #999ce8, #8b94db, #7d8dcd, #7185bf, #616ca1, #505584, #3f3e69, #2e294e);
  background-size: 120% ;
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: top;
  /*width: 100%;*/
  /*height:100vh;*/
}

.mainBackgroud2{
  background-image: linear-gradient(to left top, #e566b7, #d476cb, #c084da, #ac91e4, #999ce8, #8b94db, #7d8dcd, #7185bf, #616ca1, #505584, #3f3e69, #2e294e);
  background-size: 120% ;
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: top;
}

.footerBackground{
  background-image: linear-gradient(to right top, #e566b7, #d476cb, #c084da, #ac91e4, #999ce8, #8b94db, #7d8dcd, #7185bf, #616ca1, #505584, #3f3e69, #2e294e);
  background-size: 120%;
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: top;
}


/* ***** Buttons ***** */



.btn-primary{
  color:var(--primary-contrast);
  background-color:var(--primary-color) !important;
}

.btn-secondary{
  color:var(--secondary-contrast);
  background-color:var(--secondary-color) !important;
}

.btn{
  border-radius: var(--button-border-radius);
  border: none;
  font-family: var(--ornate-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}


/* ***** Cards ***** */

.card{
  background-color: var(--text-background);
  color:var(--dark-text-color);
}

.card .card-body .card-text{
  background-color:transparent;
  color:var(--dark-text-color);
  font-size: var(--normal-font-size);
  line-height: 2;
}

.card-title {
  color:var(--primary-contrast);
  margin-bottom: 0!important;
}

.standard-card-header-gradient{
  background: transparent /*linear-gradient(40deg, #45cafc, #303f9f)*/ !important;
}

.card-subtitle{
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

.lessBottomPadding{
  padding-bottom: 13px;
}

.shortyCardHeader{
  padding-top: 4px;
  padding-bottom:3px;
}

.cardHeader{
  background-color: RGBA(46,	41,	78, .7);
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}

.cardContent {
  color: #2E294E!important;
}

/* ***** Tables ***** */

table {
  background-color: transparent; /*var(--table-blue-background)!important;*/
  border-radius: 30px!important;
}
.table{
  color:var(--dark-text-color)
}

/* table header */
th{
  background-color: var(--primary-contrast) /*rgba(191 , 226, 255, .7) */!important;
  text-align: center!important;
  font-family:  var(--ornate-font); /*'syncopate'; syncopate looks a little too sci-fi IMO */
}

/* table header text */
table th {
  font-size: 1.2rem;
  font-weight: 700;
}

thead  {
  /*background: !important;*/
  border: 1px solid transparent!important;
}

/* table data text*/
table td{
  font-size: 1.0rem;
}


.row{
  margin-left:0;
  margin-right:0;
}

.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
